@using Extensions.Helpers
@model SDC.Web.Models.IndexIssueViewModel

@{
    ViewBag.Title = "Index";
}

<h2>Issues</h2>

<div class="row" style="margin: 10px 0">
    @if (Request.IsAuthenticated)
    {
        @Html.ActionButton("Create New", "Create", new {projectId = Model.ProjectId}, new {style = "margin-right: 10px", @class = "col-sm-2 btn btn-default"})
    }
    @Html.ActionButton("Back to Projects", "Index", "Projects", null, new { @class = "col-sm-2 btn btn-default" })
</div>

@Html.Partial("IssuesTablePartial", Model.Issues)